html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/Images/saibatsu.png");
  background-color: black;
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  color: white;
}

.navbar{
    position: sticky;
    width: 100%;
    height: 50px;
    z-index: 1;
    top: 0;
    margin-bottom: 25px;
} 

h1, h2, h3, h4, p,a{
    color: white;
}

.a-dark{
    color: black;
}

.btn {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-end{
    position: absolute;
    right: 25px;
    bottom: 50px;
}